            <h1 class="mt-4">Login Succesful</h1>
            <h2 class="lead mb-3">Oi Blyat Welcome <%= user.name %></h2>
            <a href="/users/logout" class="btn btn-danger">Logout</a>
            <a href="" class="btn btn-info">Logout</a>